# --- config pour le serveur d'auth
ACCESS_TOKEN_EXPIRE_MINUTES=60
AUTH_PORT=8070

JWT_ALGORITHM = "HS256"
JWT_SECRET = "SECRET_TO_CHANGE"
ACCESS_TOKEN_EXPIRE_MINUTES = 30

AUTH_PROJECT_NAME = "Auth portfolio"
AUTH_API_VERSION = "1.0"


# --- config pour la base de donnees

MYSQL_ROOT_PASSWORD=rootpasswd
MYSQL_DATABASE=db
MYSQL_USER=user
MYSQL_PASSWORD=passwd
MYSQL_PORT=3306


# --- config pour le front ent (vite)

VITE_API_BASE_URL="http://localhost:8079/api/v1"

# --- config pour le backend

SECRET_KEY=CHANGE_ME_TO_A_LONG_RANDOM_STRING
PROJECT_NAME='Mrcfolio'
API_VERSION=0.1.0
PORT_APP=8079

DATABASE_URL=mysql+pymysql://user:passwd@db:3306/db?charset=utf8mb4

AUTH_TOKEN_ENDPOINT = "http://auth-portfolio:8070/token" # le serveur d'authentication pour obtenir le token
AUTH_TOKEN_VALIDATE_ENDPOINT = "http://auth-portfolio:8070/token/validate" # le lien du serveur d'auth pour valider le token


# --- Configuration d'un default admin permettant d'administrer le systeme
DEFAULT_ADMIN_LAST_NAME = 'Default'
DEFAULT_ADMIN_FIRST_NAME = 'Admin'
DEFAULT_ADMIN_EMAIL = 'admin@example.com'
DEFAULT_ADMIN_PASSWORD = 'Admin@12345'
 
KEY_INIT = '494c157c-0880-461f-826a-3a867cfa128a' # generer une cle pour initialiser ou pour reintialiser le mot de passe

SERVER_MEDIA='http://medias:80' 
AUTO_SETUP=true # Cette variable permet de configurer le systeme automatiquement, avec le default admin sans intervention (voir la doc)

# --- config pour les fournisseur externe lors de l'ajout des projets

GITHUB_API_URL: str="https://api.github.com"
GITHUB_TOKEN: str="YOUR_TOKEN_GITHUB"
GITHUB_USER: str="YOUR_USER_GITHUB"

GITLAB_API_URL="https://api.gitlab.com"
GITLAB_TOKEN="YOUR_TOKEN_GITLAB"
GITLAB_USER="YOUR_GITLAB_USER"