# --- App ---
SECRET_KEY=CHANGE_ME_TO_A_LONG_RANDOM_STRING
PROJECT_NAME='Mrcfolio'
API_VERSION=1.0
PORT=8070

DATABASE_URL=mysql+pymysql://portfolio_user:portfolioPassw0rd@portfoliodb:3306/portfoliodb?charset=utf8mb4

JWT_ALGORITHM = "HS256"
JWT_SECRET = "SECRET_TO_CHANGE"
ACCESS_TOKEN_EXPIRE_MINUTES = 30

AUTH_PROJECT_NAME = "Auth mrcfolio"
AUTH_API_VERSION = "1.0"
